<div class="flex flex-col gap-3 2xl:justify-between h-dvh overflow-hidden bg-gray-100 p-2 pt-0 animate__animated animate__fadeIn">
    <!-- top -->
    <div>
        <div class="relative w-full h-3 bg-gray-300 overflow-hidden rounded-t-md">
            <div class="transition-all duration-700 ease-in-out absolute top-0 left-0 h-full bg-[repeating-linear-gradient(45deg,white_0px,white_10px,transparent_10px,transparent_20px)]"  [style.width.%]="currentSectionSummary()?.summary?.progress"></div>
            <div class="transition-all duration-700 ease-in-out absolute top-0 left-0 h-full bg-green-800 opacity-70" [style.width.%]="currentSectionSummary()?.summary?.progress"></div>
        </div>
        
        <div class="flex flex-col bg-white rounded-md rounded-t-none drop-shadow-sm drop-shadow-gray-50 divide-y divide-gray-200">
            <div class="flex flex-col lg:flex-row justify-between items-center gap-x-5 p-2">
                <div class="flex flex-col lg:flex-row items-center gap-3 lg:gap-10">
                    <div class="items-end gap-2 hidden lg:flex">
                        @if(store().candidatePassport) {
                            <span (click)="showUserProfileModal = true" class="size-12 rounded-sm bg-gray-200 flex items-center justify-center overflow-hidden">
                                <img [srcset]="store().candidatePassport" alt="" class="w-full object-cover object-center">
                            </span>
                        } @else {
                            <span (click)="showUserProfileModal = true" class="size-12 rounded-sm bg-gray-200 flex items-center justify-center overflow-hidden">
                                <svg class="w-[100px] h-auto text-gray-500 translate-y-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                                </svg>
                            </span>
                        }
                        <div>
                            <!-- truncate -->
                            <div class="font-semibold">{{ candidateName() }}</div>
                            <div class="text-xs">{{ store().loginData?.candidate_data?.login_field_value }}</div>
                        </div>
                    </div>
                    <div class="lg:hidden uppercase font-bold">{{ examName() }}</div>
                    <button (click)="sectionsList.toggle($event)" class="bg-gray-100 flex items-center gap-5 rounded-2xl w-max min-w-[150px] px-4">
                        <span class="py-2 text-sm">{{ store().currentSection?.name }}</span>
                        <i class="pi pi-angle-down"></i>
                    </button>
                </div>

                <!-- truncate -->
                <div class="hidden lg:block uppercase font-bold">{{ examName() }}</div>
                 
                <app-exam-tools (resizeFont)="fontSize.toggle($event)"></app-exam-tools>
            </div>
            <div class="flex w-full gap-3 p-2 items-center justify-between text-sm">
                <div class="hidden lg:flex gap-3 bg-gray-100 items-center rounded-2xl w-max py-1.5 px-4">
                    <div class="flex flex-col justify-between">
                        <div class="font-semibold">Section {{ currentSectionIndex() + 1 }} of {{ store().sections.length }}</div>
                        <div>{{ store().currentSection?.items?.length }} questions</div>
                    </div>
                </div>
                
                <!-- pagination -->
                <app-paginator class="w-full lg:w-max"></app-paginator>

                <div class="hidden lg:flex gap-5 bg-gray-100 items-center rounded-2xl w-max py-1.5 px-3">
                    <div class="flex flex-col items-center justify-center">
                        <div class="font-bold">{{ currentSectionSummary()?.summary?.attempted?.length }}</div>
                        <div class="flex gap-2 items-center">
                            <span class="rounded-full size-2.5 bg-green-600"></span>
                            <span class="text-xs">Answered</span>
                        </div>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <div class="font-bold">{{ currentSectionSummary()?.summary?.unattempted?.length }}</div>
                        <div class="flex gap-2 items-center">
                            <span class="rounded-full size-2.5 bg-red-600"></span>
                            <span class="text-xs">Unanswered</span>
                        </div>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <div class="font-bold">{{ currentSectionSummary()?.summary?.revisits?.length }}</div>
                        <div class="flex gap-2 items-center">
                            <span class="rounded-full size-2.5 bg-yellow-600"></span>
                            <span class="text-xs">Revisit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- content area -->
    <div id="itemTypesContainer" class="flex-1 max-h-[580px] 2xl:max-h-[1000px] overflow-hidden"> 
        @if(showItemTypesContainer()) {

            @if(store().currentQuestion!.item_type === itemTypes().MCQ) {
                <app-single-choice [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-single-choice>
            }

            @if(store().currentQuestion!.item_type === itemTypes().CLOZE_DROPDOWN) {
                <app-close-with-dropdown [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-close-with-dropdown>
            }

            @if(store().currentQuestion!.item_type === itemTypes().CLOZE_TEXT) {
                <app-close-with-text [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-close-with-text>
            }

            @if(store().currentQuestion!.item_type === itemTypes().CLOZE_RADIO) {
                <app-close-with-select [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-close-with-select>
            }

            @if(store().currentQuestion!.item_type === itemTypes().SHORT_TEXT) {
                <app-short-text [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-short-text>
            }

            @if(store().currentQuestion!.item_type === itemTypes().ESSAY_RICH_TEXT) {
                <app-essay-rich-text [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-essay-rich-text>
            }

            @if(store().currentQuestion!.item_type === itemTypes().ESSAY_PLAIN_TEXT) {
                <app-essay-plain-text [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-essay-plain-text>
            }

            @if(store().currentQuestion!.item_type === itemTypes().ASSOCIATION) {
                <app-classify-by-matching [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-classify-by-matching>
            }

            @if(store().currentQuestion!.item_type === itemTypes().ORDER_LIST) {
                <app-classify-by-ordering [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-classify-by-ordering>
            }

            @if(store().currentQuestion!.item_type === itemTypes().CLOZE_TEXT_IMAGE) {
                <app-label-image-with-text [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-label-image-with-text>
            }

            @if(store().currentQuestion!.item_type === itemTypes().CLOZE_DROPDOWN_IMAGE) {
                <app-label-image-with-dropdownselect [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-label-image-with-dropdownselect>
            }

            @if(store().currentQuestion!.item_type === itemTypes().IMAGE_DRAG_AND_DROP) {
                <app-label-image-with-drag-and-drop [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-label-image-with-drag-and-drop>
            }

            @if(store().currentQuestion!.item_type === itemTypes().CHOICE_MATRIX) {
                <app-choice-matrix [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-choice-matrix>
            }
            
            @if(store().currentQuestion!.item_type === itemTypes().DRAWING_AND_WRITING) {
                @if(store().drawingAndWritingConfig.roughWorkMode) {
                    <app-drawing-and-writing-rough-mode [(fontSize)]="questionFontSize" animate.enter="fade-in"></app-drawing-and-writing-rough-mode>
                } @else {
                    <app-drawing-and-writing [(fontSize)]="questionFontSize"></app-drawing-and-writing>
                }
            }
        }
    </div> 

    <!-- bottom -->
    <div>
        <div class="flex flex-col lg:flex-row gap-3 items-center justify-between bg-transparent rounded-md">
            <div class="p-3 py-2 rounded-2xl bg-white text-sm font-medium">
                <div>Attempted {{ allSectionsAttemp() }} of {{ totalSectionsQuestions() }} for all sections</div>
            </div>
            <div class="flex gap-3">
                @if(store().currentQuestionIndex > 0) {
                    <button (click)="prev()" class="btn gap-3!">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                        </svg>
                        Previous
                    </button>
                }
                @if(showPrevSectionButton()) {
                    <button (click)="prevSection()" class="btn bg-gray-800! gap-3!">
                        <svg class="w-4 h-4 rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                        </svg>
                        Previous section
                    </button>
                }

                @if(store().currentQuestionIndex < (store().currentSection!.items!.length - 1)) {
                    <button (click)="nextQuestion()" class="btn gap-3!">
                        Next
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                        </svg>
                    </button>
                }

                @if(showNextSectionButton()) {
                    <button (click)="nextSection()" class="btn bg-gray-800! gap-3!">
                        Next section
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                        </svg>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

<p-menu #sectionsList [popup]="true" class="flex justify-center" styleClass="w-max">
    <ng-template #start>
        <div class="flex flex-col p-1 cursor-pointer">
            @for(item of store().sections; track item) {
                <button (click)="selectSection(item); sectionsList.toggle($event)" class="p-2 hover:bg-gray-100 rounded-md cursor-pointer w-full text-left capitalize">{{ item.name }}</button>
            }
        </div>
    </ng-template>
</p-menu>

<p-menu #fontSize [popup]="true" class="flex justify-center" styleClass="w-max">
    <ng-template #start>
        <div class="flex items-center justify-between gap-3 p-3 pb-0">
            <span class="grow basis-0">
                <input #rangeEl (input)="setFontSize(rangeEl)" type="range" min="16" max="30" step="1" [value]="questionFontSize()" class="w-full accent-primary"/>
            </span>
            <span [style.fontSize.px]="questionFontSize()">Aa</span>
        </div>
    </ng-template>
</p-menu>

<p-dialog [visible]="isCandidateSuspendedModalActive()" modal="true" closable="false" header="Suspension Notice" [style]="{ width: '35rem' }">
    <p>Your exam session has been paused due to a suspension. Kindly reach out to the administrator to understand the reason and next steps.</p>
</p-dialog>

<p-dialog header="Exam notice" [closable]="false" [modal]="true" [visible]="isLogoutNoticeActive()" [style]="{ width: '25rem' }">
    <p class="p-text-secondary block mb-8">{{ logoutNoticeReason() }}</p>
    <div class="flex justify-end gap-2">
        <button class="btn" (click)="logout()">Logout</button>
    </div>
</p-dialog>

<p-dialog  header="Close Notice" [visible]="closeCandidateBrowser() == null ? false : true" [modal]="true" [closable]="false" [dismissableMask]="false" [style]="{ width: '500px' }" [blockScroll]="true">
    <div class="text-center p-4">
        <p class="text-muted">This browser has been closed by the admin. It will close in</p>
        <p class="text-muted fw-bold text-dark" style="font-size: 20px;"><strong>{{ closeCandidateBrowser() }} secs</strong></p>
    </div>

</p-dialog>

<p-dialog [visible]="showUnattemptedModal()" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" [style]="{ width: '600px' }" header="You are attempting to end exam?" class="p-0">
  <div class="text-center p-6">
    <p class="text-gray-500">Certain questions are unanswered or not revisited</p>

    <div class="my-6 max-h-[400px] overflow-y-auto space-y-4">
        @for (section of overviewSections(); track $index; let i = $index) {
            @if (section.summary?.unattempted!.length > 0) {
                <div class="flex justify-between items-center py-3 border-b border-gray-200 cursor-pointer" (click)="section.open = !section.open">
                    <div class="font-medium">{{ section.name }}</div>

                    <div class="flex items-center gap-2 text-sm text-gray-600">
                        <span>{{ section.summary?.unattempted!.length }} Questions</span>

                        <span class="bg-gray-200 rounded-full h-6 w-6 flex items-center justify-center">
                            <i class="pi" [ngClass]="expandedPane() === i ? 'pi-chevron-up' : 'pi-chevron-down'"></i>
                        </span>
                    </div>
                </div>

                @if (section.open) {
                    <div class="flex flex-wrap gap-2 py-3 animate-fadeIn">
                        @for (item of section.summary?.unattempted; track item; let page = $index) {
                            <button  class="text-sm size-10 rounded-full"
                            [class.bg-yellow-50]="isRevisit(item, section)"
                            [class.text-yellow-600]="isRevisit(item, section)"

                            [class.bg-red-50]="isUnattempted(item, section)"
                            [class.text-red-500]="isUnattempted(item, section)"
                            > {{ item + 1 }}</button>
                        }
                    </div>
                }

            }
        }
    </div>  

    <div class="flex justify-center gap-4 mt-6">
        <button type="button" (click)="closeEndExamSummaryModal()" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700 transition">No, Continue Exam</button>
        <button type="button" (click)="store().loginData?.assessment_data?.end_exam_confirmation ? confirm() : endExam() " class="bg-red-600 text-white px-6 py-2 rounded hover:bg-red-700 transition">
            Yes, End Exam
        </button>
    </div>

  </div>
</p-dialog>

<p-dialog [(visible)]="showUserProfileModal" [position]="'topleft'" [modal]="true" [closable]="false" [dismissableMask]="true" [style]="{ width: '420px' }" contentStyleClass="p-0">

  <button (click)="showUserProfileModal = false" type="button" class="absolute top-3 right-3 bg-gray-200 border-transparent border ring-0 outline-none p-1 rounded hover:bg-gray-200 transition z-10">
    <svg class="w-6 h-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M6 18 17.94 6M18 18 6.06 6" />
    </svg>
  </button>

  <div class="p-6 text-center relative">
    <div class="flex justify-center">
      <div class="w-[150px] h-[150px] rounded-full overflow-hidden flex items-center justify-center">
        @if (store().candidatePassport) {
          <img [src]="store().candidatePassport" class="w-[150px]" />
        } @else {
          <span class="w-[150px] h-[150px] rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
                <svg class="w-[200px] h-auto text-gray-500 translate-y-[45px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
                </svg>
            </span>
        }
      </div>
    </div>

    <div class="mt-4 mb-3">
      <h5 class="text-xl font-semibold">{{ store().loginData?.candidate_data!.name }}</h5>
      <p class="text-gray-600"> {{ store().loginData?.candidate_data!.login_field_value }} </p>
    </div>

    @if (store().preloginData?.delivery_method == deliveryMethods().ON_PREMISE_SECURE_BROWSER) {
      <div class="max-h-[300px] overflow-y-auto mt-4 text-left px-3 border-t border-gray-200 pt-4 space-y-4">
        <div class="flex flex-col gap-2">
          <span>Close candidate browser</span>
          <button class="bg-red-100 text-red-700 text-sm px-3 py-1 rounded hover:bg-red-200 transition w-max">Close browser</button>
        </div>
      </div>
    }
  </div>

</p-dialog>

