<router-outlet />

<p-dialog [visible]="!store().appIsPinned && !isAdminRoute()" [modal]="true" [dismissableMask]="false" [closable]="false"
    [draggable]="false" styleClass="w-full max-w-md">
    <div class="text-center p-6">
        <h4 class="text-xl font-semibold mb-3">Unpinned Notice</h4>
        <p class="text-gray-500 mb-6">This app has been unpinned, Pin back to proceed.</p>
        <div class="flex justify-center">
            <button type="button" class="btn rounded-md!" (click)="pinApp()">Pin App</button>
        </div>
    </div>
</p-dialog>

<p-dialog [visible]="!!store().infridgementMessage && !isAdminRoute()" [modal]="true" [closable]="false" [dismissableMask]="false"
    [style]="{ width: '28rem' }" [contentStyle]="{ padding: '0' }">
    <div class="p-6 text-center relative root-modal">
        <div class="mb-4 flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="text-red-400"
                viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.964 0L.165 13.233c-.457.778.091 1.767.982 1.767h13.707c.89 0 1.438-.99.982-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1-2.002 0 1 1 0 0 1 2.002 0z" />
            </svg>
        </div>

        <h3 class="text-lg font-semibold text-red-600 mb-2">Infringement Notice</h3>
        <p class="text-gray-600">{{ store().infridgementMessage }}</p>

        <div class="mt-6">
            <input type="password" placeholder="Enter Password" [formControl]="userExitPassword"
                class="w-full border border-gray-300 rounded px-3 py-2 outline-none " />
            @if (userExitPassword.invalid && userExitPassword.touched) {
            <p class="text-red-600 text-left text-sm mt-1"> Password is required.</p>
            }
            @if (store().exitApplicationMessage) {
            <p class="text-red-600 text-left text-sm mt-1"> {{ store().exitApplicationMessage }}</p>
            }
        </div>

        <div class="flex justify-center mt-6">
            <button type="button" (click)="exitApplication()" class="bg-red-600 text-white px-6 py-2 rounded hover:bg-red-700 transition">Close Application</button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Exit Application" [focusOnShow]="false" [visible]="store().showCloseAppWithPasswordModal && !isAdminRoute()" [modal]="true" [closable]="false" [dismissableMask]="false"
    [style]="{ width: '30rem' }" [contentStyle]="{ padding: '0' }">
    <div class="px-6 relative root-modal">
        <p class="text-gray-600">Want to close app? Enter your password. </p>

        <div class="mt-6">
            <input type="password" placeholder="Enter Password" [formControl]="userExitPassword" class="w-full border border-gray-300 rounded px-3 py-2 outline-none " />
            @if (userExitPassword.invalid && userExitPassword.touched) {
            <p class="text-red-600 text-left text-sm mt-1"> Password is required.</p>
            }
            @if (store().exitApplicationMessage) {
            <p class="text-red-600 text-left text-sm mt-1"> {{ store().exitApplicationMessage }}</p>
            }
        </div>

        <div class="flex justify-center py-5 gap-4">
            <button type="button" class="px-5 py-2 border border-gray-300 rounded hover:bg-gray-100 transition" (click)="resetForm()">No, Cancel</button>
            <button type="button"  class="bg-red-600 text-white px-6 py-2 rounded hover:bg-red-700 transition" [disabled]="(userExitPassword.invalid && userExitPassword.touched) || isExitingApplication()" (click)="exitApplication()">Yes, Close</button>
        </div>
    </div>
</p-dialog>